<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Start Content -->
<section class="product-list-content">
    <div class="category">
        <h2 class="title">Danh mục</h2>
        {{#each product_types}}
        <div class="category-item">
            <h3 class="item-name">{{this.name}}</h3>
            <div class="item-cat">
                {{#each this.trademark}}
                <input type="radio" id="html" name="fav_language" value="{{this}}">
                <label for="html">{{this}}</label><br>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    <div class="product">
        <div class="nav">
            <span>
            <select class="form-select" aria-label="Default select example" onchange="location.href='/products?loaisp='+this.options[this.selectedIndex].value">
                <option value="">Tất cả sản phâm</option>
                {{#each product_types}}
                    {{#if this.name }}
                    <option value="{{this.name}}" selected>{{this.name}}</option>
                    {{else}}
                     <option value="{{this.name}}">{{this.name}}</option>
                    {{/if}}
                {{/each}}
            </select>
             </span>
           <!-- <a href="#">Laptop</a>
            <a href="#">Phụ kiện</a>-->
            <input type="text" placeholder="Tìm kiếm..." id="query">
            <button type="button" class="btn-solid-primary" id="findProdducts" onclick="location.href='/products?q='+document.getElementById('query').value">
                <svg height="19" viewBox="0 0 19 19" width="19" class="shopee-svg-icon ">
                    <g fill-rule="evenodd" stroke="none" stroke-width="1">
                        <g transform="translate(-1016 -32)">
                            <g>
                                <g transform="translate(405 21)">
                                    <g transform="translate(611 11)">
                                        <path
                                            d="m8 16c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8zm0-2c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6-2.6862915 6-6 6z">
                                        </path>
                                        <path
                                            d="m12.2972351 13.7114222 4.9799555 4.919354c.3929077.3881263 1.0260608.3842503 1.4141871-.0086574.3881263-.3929076.3842503-1.0260607-.0086574-1.414187l-4.9799554-4.919354c-.3929077-.3881263-1.0260608-.3842503-1.4141871.0086573-.3881263.3929077-.3842503 1.0260608.0086573 1.4141871z">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </g>
                </svg>
            </button>
        </div>
        <div>

            <div id="content-page1" class="grid-container">
                {{#each products}}
                <div class="row align-items-start">
                        <div class="item" onclick="location.href='/products/productDetail/{{this.slug}}'">
                            <img src="{{this.image_url}}" alt="{{this.name}}">
                            <p class="item-name">{{this.name}}</p>
                            <p class="price">{{this.price}}<via>đ</via>
                            </p>
                        </div>
                </div>
                {{/each}}
            </div>
            <div div="row">
                {{#if q}}
                <ul class="pagination justify-content-center">
                    {{#if haspreviouspage}}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}&q={{q}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}&q={{q}}">{{previouspage}}</a>
                        </li>
                    {{/if}}

                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentpage}}</a>
                    </li>

                    {{#if hasnextpage}}
                        
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}&q={{q}}">{{nextpage}}</a>
                        </li>
                       <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}&q={{q}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
                {{else}}
                <ul class="pagination justify-content-center">
                    {{#if haspreviouspage}}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}">{{previouspage}}</a>
                        </li>
                    {{/if}}

                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentpage}}</a>
                    </li>

                    {{#if hasnextpage}}
                        
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}">{{nextpage}}</a>
                        </li>
                       <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
                {{/if}}
            </div>
        </div>

       <!-- <div class="pagination">
            <p id="page1" class="page-number active">1</p>
            <p id="page2" class="page-number">2</p>
            <p id="page3" class="page-number">3</p>
        </div>-->
</section>
<!-- End Content -->

<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h5">Thương Hiệu</h1>
                <p>

                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                            data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->