<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Start Content -->
<section class="product-list-content">
    <div class="product">
        <div class="row">
            <!--filter price range -->
            <span class=" product_type col-md-2">
                <select class="form-select" aria-label="Default select example" onchange="location.href='/products?sort='+this.options[this.selectedIndex].value">
                {{#if product_type}}
                <option value="{{product_type}}" selected hidden>{{product_type}}</option>
                {{/if}}
                <option value="">--Bộ lọc giá--</option>
                <option value="1">Theo giá tăng dần</option>
                <option value="2">Theo giá giảm dần</option>
                </select>
            </span>
             <!--product types -->
            <span class=" price_product col-md-2">
            <select class="form-select" aria-label="Default select example" onchange="location.href='/products?producttype='+this.options[this.selectedIndex].value">
                {{#if product_type}}
                <option value="{{product_type}}" selected hidden>{{product_type}}</option>
                {{/if}}
                <option value="">--loại sản phẩm--</option>
                {{#each product_types}}
                     <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
             </span>
             <!--trade mark -->
            <span class=" price_product col-md-2">
                <select class="form-select" aria-label="Default select example" onchange="location.href='/products?trademark='+this.options[this.selectedIndex].value">
                {{#each product_type_trade}}
                    <option value="{{this}}" selected hidden>{{this}}</option>
                {{/each}}
                <option value="">--nhãn hiệu--</option>
                
                </select>
            </span>
             <!--price -->
            <span class=" price_product col-md-2">
                <select class="form-select" aria-label="Default select example" onchange="location.href='/products?'+this.options[this.selectedIndex].value">
                {{#if price1}}
                {{#if price2}}
                <option value="price1={{price1}}&price2={{price2}}" selected hidden>Dưới {{price2}}</option>
                {{else}}
                <option value="price1={{price1}}" selected hidden>Trên {{price1}}</option>
                {{/if}}
                {{/if}}
                <option value="">--Giá sản phẩm--</option>
                <option value="price1=0&price2=100000">Dưới 100.000đ</option>
                <option value="price1=100000&price2=500000">Dưới 500.000đ</option>
                <option value="price1=500000&price2=1000000">Dưới 1.000.000đ</option>
                <option value="price1=1000000&price2=5000000">Dưới 5.000.000đ</option>
                <option value="price1=5000000&price2=10000000">Dưới 10.000.000đ</option>
                <option value="price1=10000000">Trên 10.000.000đ</option>
                
                </select>
            </span>
           <!-- <a href="#">Laptop</a>
            <a href="#">Phụ kiện</a>-->
            <div class="col-md-2">
                <div class="container-4">
                    <input type="search" placeholder="Tìm kiếm..." id="query">
                    <button class="icon" id="findProdducts" onclick="location.href='/products?q='+document.getElementById('query').value"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
                {{#each products}}
                <div class="col-md-3 " onclick="location.href='/products/productDetail/{{this.slug}}'">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="{{this.image_url}}">
                        </div>
                        <div class="card-body">
                            <div href="/products/productDetail/{{this.slug}}" class="h3 product_name">{{this.name}}</div>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <p class="text-center mb-0 price">{{this.price}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
        </div>
        <div div="row">
                {{#if q}}
                <ul class="pagination justify-content-center">
                    {{#if haspreviouspage}}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}&q={{q}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}&q={{q}}">{{previouspage}}</a>
                        </li>
                    {{/if}}

                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentpage}}</a>
                    </li>

                    {{#if hasnextpage}}
                        
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}&q={{q}}">{{nextpage}}</a>
                        </li>
                       <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}&q={{q}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
                {{else}}
                <ul class="pagination justify-content-center">
                    {{#if haspreviouspage}}
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{previouspage}}">{{previouspage}}</a>
                        </li>
                    {{/if}}

                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1">{{currentpage}}</a>
                    </li>

                    {{#if hasnextpage}}
                        
                        <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}">{{nextpage}}</a>
                        </li>
                       <li class="page-item">
                            <a class="page-link" href="/products?page={{nextpage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
                {{/if}}
        </div>
    </div>

       <!-- <div class="pagination">
            <p id="page1" class="page-number active">1</p>
            <p id="page2" class="page-number">2</p>
            <p id="page3" class="page-number">3</p>
        </div>-->
</section>
<!-- End Content -->

<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h5">Thương Hiệu</h1>
                <p>

                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                            data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a onclick="location.href='/products?trademark=Apple'"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a onclick="location.href='/products?trademark=Samsung'"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a onclick="location.href='/products?trademark=Xiaomi'"><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a onclick="location.href='/products?trademark=Realme'"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png"
                                                    alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
 <script>
        const x = document.querySelectorAll(".price");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                      .toLocaleString('en');
            x[i].innerHTML = num+"đ";
            x[i].classList.add("currSign");
        }
    </script>
<!--End Brands-->